{% extends 'base.html' %}

{% block title %}Início - Valorant{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body p-5 text-center">
                    <h1 class="display-5 mb-3">Bem-vindo ao Valorant Hub</h1>
                    <p class="lead">Navegue pelas rotas para gerenciar agentes, armas e mapas.</p>
                    <div class="d-flex gap-3 justify-content-center mt-4">
                        <a class="btn btn-primary btn-lg" href="/agentes">Agentes</a>
                        <a class="btn btn-success btn-lg" href="/armas">Armas</a>
                        <a class="btn btn-danger btn-lg" href="/mapas">Mapas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


